extends layout

block content
	.container
		//- Header menu
		.page-header.h3 Contacts 
			button(id='home' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-home  Home
			button(id='settings' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-cog  User Fields
			button(id='tools' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-wrench  Tools
			button(id='preferences' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-list-alt  Perferences
		//- Tools form
		h5.tools
			p Export contacts to CSV
				input(id='csvexp' type='file' name='csvexp' class='btn btn-default')
			p Import contacts using CSV file
				input(id='csvimp' type='file' name='csvimp' class='btn btn-default')
			p Create PDF
				button(id='pdfgen' type='file' class='btn btn-default')
					.glyphicon.glyphicon-print  PDF
		//- Preferences
		h5.preferences
			form(class='form-inline preferences-form' role='form' method='post')
				.form-group
					input(type='text' class='form-control' id='lang' placeholder='Language')
				button(type='submit' class='btn btn-default') Save
		//- User defined inputs form
		#user-fields-form.col-md-12
			.col-md-4
				h4 Example Inputs
				form(class='form-horizontal user-fields' role='form')
				p Text box
				input(type='email' class='form-control' id='email' placeholder='Text')
				p Textarea
				input(type='textarea' class='form-control' rows='3')
				p Checkbox
				.input-group
					.input-group-addon
						input(type='checkbox', name='check1')
						| Red
						input(type='checkbox', name='check2')
						| Blue
				p Radio
				.input-group
					.input-group-addon
						input(type='radio' name='radio-group1') 
						| Red
						input(type='radio' name='radio-group1')
						| Blue
		//- Core form
		form(class='form-inline core-form' role='form' method='post')
			#form-icon.icon-inline.icon-down-open
			.form-group
				input(type='text' class='form-control' id='cd01' placeholder='#{labelData.cd01}')
			.form-group
				input(type='text' class='form-control' id='cd02' placeholder='#{labelData.cd02}')
			.form-group
				input(type='text' class='form-control' id='cd03' placeholder='#{labelData.cd03}')
			.form-group
				input(type='text' class='form-control' id='cd04' placeholder='#{labelData.cd04}')
			button(type='submit' class='btn btn-default') Add Contact
		//- Custom user form
		form(class='form-inline user-form' role='form' method='post')
		//- Primary/core data rows
		.rows.primary
			//- each object in leadsData
			//- 	.debug1.core-data.col-xs-12.col-sm-12.col-md-12(data-id='#{object._id}')
			//- 		.icon-inline.icon-menu.col-xs-12.col-sm.1.col-md-1
			//- 		#leadFirstName.col-xs-12.col-sm-1.col-md-2 #{object.cd01}
			//- 		#leadLastName.col-xs-12.col-sm-1.col-md-2 #{object.cd02}
			//- 		#leadEmail.col-xs-12.col-sm-1.col-md-3 #{object.cd03}
			//- 		#leadPhone.col-xs-12.col-sm-1.col-md-2 #{object.cd04}
			//- 	.debug1.user-data(data-id='#{object._id}')
			//- 		.debug2.col-xs-4.col-sm-4.col-md-2 #{labelData.cd01}
			//- 		.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object._id}') #{object.cd01}
			//- 		.debug2.col-xs-4.col-sm-4.col-md-2 #{labelData.cd02}
			//- 		.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object._id}') #{object.cd02}
			//- 		.debug2.col-xs-4.col-sm-4.col-md-2 #{labelData.cd03}
			//- 		.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object._id}') #{object.cd03}
			//- 		.debug2.col-xs-4.col-sm-4.col-md-2 #{labelData.cd04}
			//- 		.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object._id}') #{object.cd04}
			//- 		.debug2.col-xs-4.col-sm-4.col-md-2 #{labelData.cd05}
			//- 		.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object._id}') #{object.cd05}
			//- 		.debug2.col-xs-4.col-sm-4.col-md-2 #{labelData.cd06}
			//- 		.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object._id}') #{object.cd06}
			//- 		.debug2.col-xs-4.col-sm-4.col-md-2 Schedule
			//- 		.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object._id}') #{scheduleData.days}
					//- each day in scheduleData.days
						.debug2.col-xs-4.col-sm-4.col-md-2 Schedule
						.debug2.col-xs-8.col-sm-8.col-md-10.user-detail-data(data-id='#{object.id}') #{day}
					//-for property in labelData
					//-	p= property
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
	script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
	script(src='views/lead-view.js')
	script(src='models/lead-model.js')
	script(src='http://localhost:3000/contacts.js')