extends layout

block content
	.container
		//- Header menu
		.page-header.h3 Contacts 
			button(id='home' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-home  Home
			//- button(id='settings' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-cog  User Fields
			button(id='tools' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-wrench  Tools
			button(id='preferences' type='button' class='btn btn-default btn-sm')
				.glyphicon.glyphicon-list-alt  Preferences
		//- Tools form
		h5.tools
			p Export contacts to CSV
				input(id='csvexp' type='file' name='csvexp' class='btn btn-default')
			p Import contacts using CSV file
				input(id='csvimp' type='file' name='csvimp' class='btn btn-default')
			p Create PDF
				button(id='pdfgen' type='file' class='btn btn-default')
					.glyphicon.glyphicon-print  PDF
		//- Preferences
		.preferences
			form(class='form-horizontal preferences-form' role='form' method='post')
				.form-group
					p Delivery Email
						input(type='text' class='form-control' id='delivery' value='#{prefsData.delivery}')
					p Delivery Schedule
						input(type='text' class='form-control' id='schedule' value='#{prefsData.schedule}')
					p Default Language
						select(class='btn btn-default form-control')
							if prefsData.language === "English"
								option(id='English' class='form-control' value='English' selected) English
							else
								option(id='English' class='form-control' value='English') English
							if prefsData.language === "Spanish"
								option(id='English' class='form-control' value='Spanish' selected) Spanish
							else
								option(id='English' class='form-control' value='Spanish') Spanish
					button(id='prefs-submit' type='submit' class='btn btn-default' data-id='#{prefsData._id}') Save
		//- User defined inputs form
		#user-fields-form.col-md-12
			.col-md-4
				h4 Example Inputs
				form(class='form-horizontal user-fields' role='form')
				p Text box
				input(type='email' class='form-control' id='email' placeholder='Text')
				p Textarea
				input(type='textarea' class='form-control' rows='3')
				p Checkbox
				.input-group
					.input-group-addon
						input(type='checkbox', name='check1')
						| Red
						input(type='checkbox', name='check2')
						| Blue
				p Radio
				.input-group
					.input-group-addon
						input(type='radio' name='radio-group1') 
						| Red
						input(type='radio' name='radio-group1')
						| Blue
		//- Core form
		form(class='form-inline core-form' role='form' method='post')
			#form-icon.icon-inline.icon-down-open
			.form-group
				input(type='text' class='form-control' id='cd01' placeholder='#{labelData.cd01}')
			.form-group
				input(type='text' class='form-control' id='cd02' placeholder='#{labelData.cd02}')
			.form-group
				input(type='text' class='form-control' id='cd03' placeholder='#{labelData.cd03}')
			.form-group
				input(type='text' class='form-control' id='cd04' placeholder='#{labelData.cd04}')
			button(type='submit' class='btn btn-default') Add Contact
		//- Custom user form
		form(class='form-inline user-form' role='form' method='post')
			.form-group
				p Lead Source
				select(class='btn btn-default form-control')
					option(class='form-control' value='ccr' selected) Current client referral
					option(class='form-control' value='pcr') Previous client referral
					option(class='form-control' value='pc') Previous client
					option(class='form-control' value='pf') Personal friend
					option(class='form-control' value='rltr') Realtor
					option(class='form-control' value='pad') Print ad (sign, flyer, etc)
					option(class='form-control' value='wad') Web ad (Zillow, etc)
					option(class='form-control' value='bus') Business People
					option(class='form-control' value='bldr') Builder
				input(type='text' class='form-control' size='60' id='test' placeholder='Source details')
				p Working with agent? 
				select(class='btn btn-default form-control')
					option(class='form-control' value='ccr' selected) No
					option(class='form-control' value='ccr') Yes
				p Notes
				textarea(class='form-control' rows='5' cols='80')


		//- Primary/core data rows
		#primary.rows.primary
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
	script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js')
	script(src='views/lead-view.js')
	script(src='models/lead-model.js')
	script(src='contacts.js')
	script(src='test.js')
	script(id='leadDetailTemplate' type='text/x-handlebars-template')<div class='testClass'>HBS: {{this.cd01}}</div>
	script(id='leadDetailTemplate2' type='text/x-handlebars-template')<div class='testClass'>{{#leadFullName this}}{{/leadFullName}}</div>
	//- script(id='leadDetailTemplate2' type='text/x-handlebars-template')<div class='testClass'>{{each this.lead}} Value: {{this}}  Key: {{@key}}</div>